.container{
   text-align:center;

}
.add-btn{
    background-color: cornflowerblue;
    color: white;
    width:11%;
}
input{
    width:20%;
    margin-bottom:20px;
}
.to-do-container{
    border:2px dashed black;
}
.to-do-list{
    text-align:center;
}
.list-container{
    display:inline-block;
}
.reset-btn{
    background-color: crimson;
    color:white;
    width:11%;
}